asgiref @ file:///Users/anthonyalvarez/Library/Caches/pypoetry/artifacts/c3/92/1c/3d42ce7ad1e9e2aa1621c3fa8ebc5e21bd880a768bd691fb4f0356baa8/asgiref-3.4.1-py3-none-any.whl
Django @ file:///Users/anthonyalvarez/Library/Caches/pypoetry/artifacts/c3/8c/59/50a3c14099a0ad0818e40ea40af0446cd732882bbed86d63e115ffcf0d/Django-3.2.7-py3-none-any.whl
Pillow==8.3.2
pytz @ file:///Users/anthonyalvarez/Library/Caches/pypoetry/artifacts/b0/a7/8d/54de3ab4d1ff29abbbca1e9ccbaefdc2a1b290138311b84f73bee16de1/pytz-2021.1-py2.py3-none-any.whl
sqlparse @ file:///Users/anthonyalvarez/Library/Caches/pypoetry/artifacts/ea/fd/ba/117a876397913faee210ef8bac93829e22ad9232662e656971383c0718/sqlparse-0.4.2-py3-none-any.whl
