@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body{
    background-color: rgba(32, 193, 177, 0.654);
    color: hotpink;
    
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: hotpink;
    text-shadow:1px 1px black ;
    
    width: 100vw;
}



.card-bottom, .card-top{
    display:flex;
    flex-direction: column;
    color: hotpink;
    background-color: transparent;
    width: fit-content;
    height: 50px;
    font-size: 11px;
   
    align-items: center;
    margin-top:10px ;
    
    

    
    
}


.img-thumbnail{
    width: 300px;
    
}
.nav-link{
    color: hotpink;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
#login-link{
    font-size: 11px;
}