{%load static%}
<div class="footer">
  Follow me here!
  <ul class="social-icon-list">
    <li class="social-icon">
      <a href=" " class="social-link"
        ><img src="static/admin/img/tiktok.png" alt="TikTok logo"
      /></a>
    </li>
    <li class="social-icon">
      <a href=" " class="social-link"
        ><img src="static/admin/img/facebook.png" alt="TikTok logo"
      /></a>
    </li>
    <li class="social-icon">
      <a href=" " class="social-link"
        ><img src="static/admin/img/insta-filled.png" alt="TikTok logo"
      /></a>
    </li>
  </ul>
</div>
