{%include 'nav.html'%}{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Mundane Life of Morgan Morose</title>
  <h1>The Mundane Life of Morgan Morose</h1>
</head>
<body>
{% for post in posts%}
<p>{{post.title}}</p>
<p>{{post.body}}</p>
<img src={{post.image}}/>
<p>for more info check out -> {{post.links|urlize}}</p>
<p>{{post.created}}</p>
<p>{{post.author}}
<hr /> {%endfor%}</p>

  
</body>
</html>
