{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static  'post_detail.css'%}" />
    <title>The Mundane Life of Morgan Morose</title>
    <div class="jumbotron">
      <a class="nav-link" href='/'><h1>The Mundane Life of Morgan Morose</h1></a>
    </div>
  </head>

    <body>
    <div class='container'>
        <div class="card-top">
            <div class="card-body">
            <p class="card-title">{{posts.title}}</p>
            </div>
        </div>
        <img src="/../images/{{searchImage}}/" alt="thumbnail-photo" class="img-thumbnail" >
        <div class="card-bottom" >
        <p>{{posts.body}}</p>
            <p>posted by {{posts.author.name}} on {{posts.created}}</p>
        <div>
        <p>category : {{posts.catagory}}</p>
        </div>
    </body>
</html>
